spring:
  application:
    name: gateway
  config:
    import: file:../myanimechart-core/src/main/resources/application-dev.yml
  cloud:
    gateway:
      default-filters:
        - DedupeResponseHeader=Access-Control-Allow-Origin Access-Control-Allow-Credentials, RETAIN_UNIQUE
      globalcors:
        cors-configurations:
          '[/**]':
            allowed-origins: ${myanimechart_cors_allowed_origins}
            allowed-methods: "*"
            allowed-headers: "*"
            allow-credentials: true
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true
      routes:
        - id: application
          uri: lb://application
          predicates:
            - Path=/application/**

springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    enabled: true
    path: /swagger-ui.html
    urls:
      - name: application
        url: /application/v3/api-docs
